html {
    font-size: 62.5%;
}
.first{color: red;}
.second{color: blue;}
span { font-weight: bold;}
body {
    background-color: white;
    color: black;
    font-family: helvetica, arial, sans-serif;
    font-size: 1.4em; /* equiv 14px */
    line-height: 1.5; /* adapt to your design */
}
/* you shall not pass */
div, textarea, table, td, th, code, span, pre, samp {
    word-wrap: break-word;
}
div {
  overflow-y: scroll;
}
#in{
  background-color: lightgrey;
}
.left {
    float: left;
}
.w50 {
    width: 50%;
    height: 100%;
}
.focus {
    background-color: yellow;
}
